@font-face {
    font-family: "Gothic Century";
    src: url("CenturyGothic.ttf")
  }

body
{
    background-color: black;
    background-image: url(https://i2.wp.com/lafoliedespains.fr/wp-content/uploads/2021/09/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall.jpg?ssl=1);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    font-family: "Gothic Century", serif;
    color: white;
}

::-webkit-scrollbar {
    width: 0.8em;
    height: 0.8em;
    }
    ::-webkit-scrollbar-track-piece  {
    background-color:rgb(0, 0, 0) ;
    }
    ::-webkit-scrollbar-thumb:vertical {
    background-color: rgb(24, 24, 24);
    }

h2 {
    text-decoration: underline;
    text-decoration-color: rgb(255, 0, 0);
}

:link, :visited {
    color: #00BB10;
    font-family: "Gothic Century", serif;
  }


:hover {
    color: #ff4000;
    font-family: "Gothic Century", serif;
  }

  h1, h2 {
    color: red;
    text-align: center;
  }

  .eccept {
    text-align: left;
  }

  .ombre {
    text-shadow: 0.15em 0.15em 0.2em black;
  }